<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content">
  <ion-row class="top-row" *ngIf="email">
    <ion-col>
      <h1 class="label-logo">{{name}}</h1>
        <p class="label-description">{{email}}</p>
          <p class="label-description">{{token}}</p>
        
    </ion-col>
  </ion-row>
</ion-content>
