page-contact {
.login-content{
    background-color: #66ccff;
  }

  .label-logo{
    color: white;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
  }

  .label-description{
    color: white;
    font-size: 130%;
    text-align: center;
  }

  .top-row{
    height: 80%;
  }

  .bottom-row{
    height: 20%;

  }
}
