<ion-header>
  <ion-navbar>
    <ion-title *ngIf="isUserLoggedIn">Home</ion-title>
     <ion-title *ngIf="!isUserLoggedIn">Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
<!--<div *ngIf="isUserLoggedIn"style="text-align:center">
 <imgsrc="{{userInfo.imageUrl}}">
 <h3>{{userInfo.displayName}}</h3>
 <p>{{userInfo.email}}</p>
 <button ion-button clear (click)="logout()">Logout</button>
</div>-->


  <ion-row class="top-row" *ngIf="isUserLoggedIn">
    <ion-col>
      <h1 class="label-logo">{{userInfo.displayName}}</h1>
        <p class="label-description">{{userInfo.email}}</p>
        <button ion-button  color="danger" (click)="logout()">Logout</button>
    </ion-col>
  </ion-row>
  <ion-row class="bottom-row" *ngIf="!isUserLoggedIn">
    <ion-col class="login-button">
      <button ion-button block color="danger" (click)="loginWithGP()">Google  Login</button>
    </ion-col>
  </ion-row>

     <ion-row class="bottom-row">
    <ion-col class="login-button">
      <button ion-button block color="danger" (click)="move()">Already Login Click here</button>
    </ion-col>
  </ion-row>

</ion-content>
<!--<ion-footer *ngIf="!isUserLoggedIn">
 <button ion-button block (click)="loginWithGP()">Login with Google+</button>
</ion-footer>-->
